# Broker settings
_version: 0.6.0
# Disable rich colors
less_colors: False
# different log levels for file and stdout
logging:
    console_level: info
    file_level: debug
# Customize the fields and values presented by `broker inventory`
# Almost all field values should correspond to a field in your Broker inventory
inventory_fields:
  Host: hostname | name  # use a | to allow fallback values
  Provider: _broker_provider  # just pull the _broker_provider value
  Action: $action  # some special field values are possible, check the wiki
  OS: os_distribution os_distribution_version  # you can combine multiple values with a space between
# Much like you can set a variable lookup order for inventory fields
inventory_list_vars: hostname | name | ip
# Optionally set a limit for the number of threads Broker can use for actions
thread_limit: null
# Host SSH Settings
# These can be left alone if you're not using Broker as a library
ssh:
    # this is the library Broker should use to perform ssh actions
    backend: ssh2-python312
    host_username: root
    host_password: "<password>"
    host_ssh_port: 22
    host_ssh_key_filename: "</path/to/the/ssh-key>"
    # Default all host ssh connections to IPv6
    host_ipv6: False
    # If IPv6 connection attempts fail, fallback to IPv4
    host_ipv4_fallback: True
# Provider settings
AnsibleTower:
    base_url: "https://<ansible tower host>/"
    # Username is required for both token and password-based authentication
    username: "<username>"
    # token is the preferred authentication method
    token: "<AT personal access token>"
    # password: "<plain text password>"
    # inventory: "<inventory name>"
    release_workflow: "remove-vm"
    extend_workflow: "extend-vm"
    new_expire_time: "+172800"
    workflow_timeout: 3600
    results_limit: 50
Container:
    instances:
        docker:
            host_username: "<username>"
            host_password: "<plain text password>"
            host_port: null
            runtime: docker
            network: null
            default: True
        remote:
            host: "<remote hostname>"
            host_username: "<username>"
            host_password: "<plain text password>"
    runtime: podman
    # name used to prefix container names, used to distinguish yourself
    # if not set, then your local username will be used
    # name_prefix: test
    results_limit: 50
    auto_map_ports: False
Foreman:
  instances:
    foreman1:
        foreman_url: https://test.fore.man
        foreman_username: admin
        foreman_password: secret
        organization: ORG
        location: LOC
        verify: ./ca.crt
        default: true
    foreman2:
        foreman_url: https://other-test.fore.man
        foreman_username: admin
        foreman_password: secret
        organization: ORG
        location: LOC
  name_prefix: broker
Beaker:
    hub_url:
    max_job_wait: 24h
# You can set a nickname as a shortcut for arguments
nicks:
    rhel9:
        workflow: deploy-rhel
        deploy_rhel_version: 9.4
        notes: "Requested by broker"
