name: PythonPackage

on:
  push:
    tags:
      - "*"

jobs:
  publish:
    name: Build and Deploy to PyPi
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # build/push in lowest support python version
        python-version: [ "3.10" ]

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Setup and Build
      run: |
        pip install -U pip build
        python -m build
        python -m twine check dist/*

    - name: Build and publish
      uses: pypa/gh-action-pypi-publish@v1.4.2
      with:
        user: __token__
        password: ${{ secrets.PYPI_TOKEN }}
        skip_existing: true
